[Unit]
Description = Cart Service
[Service]
User=roboshop
// highlight-start
Environment=REDIS_HOST={{ REDIS_HOST }}
Environment=CATALOGUE_HOST={{ CATALOGUE_HOST }} 
Environment=CATALOGUE_PORT=80    #previously 8080 we changed to 80 for terraform
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target